* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  transition: .3s;
}

.wrapper {
  padding: 10px;

  select {
    margin: 8px;
    margin-left: 0px;
    border: 0px;
    background: #fff;
    border: 2px solid rgb(215, 246, 248);

    option {
      padding: 10px;
    }
  }

  .title {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
  }

  .table-card {
    max-width: 900px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.315);

    table {
      width: 100%;
      position: relative;

      .action {
        max-width: 120px !important;
        text-align: center;
        button {
          margin: 0px !important;
          padding: 3px;
          border: 0px;
          border-radius: 50%;
          background: #fff;
          cursor: pointer;
          &:hover, &:focus {
            background: rgb(199, 199, 199);
          }
        }
      }

      th {
        text-align: left;
        padding: 10px 0;
      }

      tbody {
        tr {
          td {
            padding: 10px 5px;
            box-sizing: border-box;

            input {
              border: 2px solid rgb(215, 246, 248);
              padding: 5px;
              max-width: 100px;
              border-radius: 3px;
            }

            i {
              font-size: 1rem;
              margin: 5px;
            }
          }
        }
      }
    }

    .empty {
      text-align: center;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .form-container {
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.178);
    padding: 10px;
    box-sizing: border-box;
    margin: 50px auto;

    .form-layout {
      width: 100%;


      input {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid rgb(215, 246, 248);
        padding: 10px;
        border-radius: 4px;
        margin: 8px 0;

        &:focus {
          outline: 2px solid rgb(25, 255, 255);
        }
      }

      .flexd-box {
        display: flex;

        select {
          flex: 1;
        }

        input {
          flex: 1;
        }
      }

      .centered-button {
        display: flex;
        justify-content: center;
        margin: 10px;

        button {
          padding: 10px 60px;
          border: 0px;
          font-size: 1.2rem;
          background: #fff;
          border: 2px solid rgba(0, 81, 255, 0.384);
          color: rgba(0, 17, 255, 0.384);
          border-radius: 5px;
          cursor: pointer;

          &:disabled {
            background: rgba(0, 4, 255, 0.247);
          }

          &:hover,
          &:focus {
            background: rgb(0, 4, 255);
            border: 2px solid rgb(0, 4, 255);
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

.delete-dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  .closing-part {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.521);
  }
  .delete-card {
    background: #fff;
    padding: 12px;
    text-align: center;
    max-width: 250px;
    z-index: 7;
    h3 {
      font-weight: 500;
      margin: 20px;
    }
    button {
      padding: 6px 10px;
      border: 0px;
      background: #fff;
      margin: 0px 2px;
      cursor: pointer;
      &.delete {
        background: rgb(255, 0, 149);
        color: #fff;
        &:focus {
          outline: 2px solid rgb(255, 0, 149);
        }
      }
    }
  }
}

.nav-bar {
  padding: 10px;
  position: sticky;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.322);
  margin: 0px;
  display: flex;
  z-index: 5;
  background: #fff;

  .spacer {
    flex: 1;
  }

  .action {
    button {
      border: 0px;
      padding: 5px 15px;
      color: grey;
      background: #fff;
      border-bottom: 3px solid #fff;
      outline: none;
      transition: .4s;
      cursor: pointer;

      &.active {
        color: rgb(255, 0, 98);
      }
    }
  }
}